@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");
body {
  font-family: "IBM Plex Mono", sans-serif;
}
.card {
  /* text-align: center; */
  /* height: 400px; */
  width: 300px;
  border: solid 4px black;
}

.bio-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  /* height: 45%; */
  width: 100%;
  object-fit: cover;
}

.bio {
  font-size: 12px;
  font-weight: 550;
}

.skills {
  margin-bottom: 20px;
  line-height: 1.5;
}

.pills {
  margin-right: 10px;
  margin-bottom: 2px;
}
